<!DOCTYPE html>
<html>
<head th:include="./layout/header"></head>
<body class="g-sidenav-show  bg-gray-200">
	<aside 
		class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark" 
		id="sidenav-main"
		th:include="./layout/aside"
	>
	</aside>
	<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
		<!-- GNB -->
		<nav 
			class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" 
			id="navbarBlur" 
			navbar-scroll="true"
			th:include="./layout/nav"
		>
		</nav>
		<div class="container-fluid px-2 px-md-4">
			<div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
				<span class="mask  bg-gradient-primary  opacity-6"></span>
			</div>
			<div class="card card-body mx-3 mx-md-4 mt-n6">
				<div class="row g-3 my-2">
					<div class="col-md-1">
					  	<div class="avatar avatar-xl position-relative" id="profile-image">
					    	<img src="/assets/img/icons/user-icon.png" onerror="/assets/img/icons/user-icon.png" alt="profile_image" class="w-100 border-radius-lg shadow-sm"/>
						</div>						
					</div>		
					<div class="col-md-1">
						<label class="form-label" for="profile">Profile</label>
					</div>
					<div class="col-md-10">
						<div class="input-group input-group-outline">
							<input type="file" class="form-control" id="profile" accept=".gif, .png, .jpg"/>
						</div>
					</div>							 
		   		</div>		
	           	<div class="row g-3 my-2">
	            	<div class="col-md-2">
                  		<label class="form-label" for="name">Name</label>
                  	</div>
					<div class="col-md-10">
						<div class="input-group input-group-outline">
							<input type="text" class="form-control" id="name" />
						</div>
                    </div>
	           	</div>	
	           	<div class="row g-3 my-2">
	            	<div class="col-md-2">
                  		<label class="form-label" for="password">Password</label>
                  	</div>
					<div class="col-md-10">
						<div class="input-group input-group-outline">
							<input type="password" class="form-control" id="password"/>
						</div>
                    </div>
	           	</div>		           	
	           	<div class="row g-3 my-2">
	            	<div class="col-md-2">
                  		<label class="form-label" for="email">Email</label>
                  	</div>
					<div class="col-md-10">
						<div class="input-group input-group-outline">
							<input type="email" class="form-control" id="email" />
						</div>
                    </div>
	           	</div>		  
	           	<div class="row g-3 my-2">
	            	<div class="col-md-2">
                  		<label class="form-label" for="mobile">Tel</label>
                  	</div>
					<div class="col-md-10">
						<div class="input-group input-group-outline">
							<input type="text" class="form-control" id="mobile" />
						</div>
                    </div>
	           	</div>		        	           	   	         				   	
	           	<div class="row g-3 my-2">
	            	<div class="col-md-8"></div>
					<div class="col-md-4" align="right">
						<button class="btn btn-success" onclick="handleUserInfo(false);"><i class="fa fa-pencil"></i>&nbsp;edit</button>
						<button class="btn btn-danger" onclick="withdrawal()"><i class="fa fa-trash"></i>&nbsp;withdrawal</button>
					</div>
	           	</div>				   			   	
			</div>	
		</div>
		<!-- footer -->
		<div class="container-fluid py-4">
			<footer th:include="./layout/footer"></footer>
		</div>
	</main>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			getUserInfo();
		});
	</script>
</body>
</html>