<!DOCTYPE html>
<html>
<head th:include="./layout/header"></head>
<body class="g-sidenav-show  bg-gray-200">
	<aside 
		class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark" 
		id="sidenav-main"
		th:include="./layout/aside"
	>
	</aside>
	<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
		<!-- GNB -->
		<nav 
			class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" 
			id="navbarBlur" 
			navbar-scroll="true"
			th:include="./layout/nav"
		>
		</nav>
		<div class="container-fluid py-4">
			<div class="row">
				<div class="col-12">
					<div class="card my-4">
						<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
							<input type="hidden" name="post-seq" id="post-seq" th:value="${postSeq}"/>
							<div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" id="post-title"></div>
						</div>
	            		<div class="card-body px-0 pb-2">
	            			<div class="row g-3 my-2" style="padding-left: 2%; padding-right: 2%;">
		            			<div align="left" class="col-md-2">
		            				<button class="btn btn-warning" onclick="history.back(-1)"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
		            			</div>	            			
	            			</div>
			            	<div class="row g-3 my-2" style="padding-left: 2%; padding-right: 2%;">
				            	<div class="col-md-1">
			                  		<label class="form-label" for="title">제목</label>
			                  	</div>
								<div class="col-md-11">
									<div class="input-group input-group-outline">
										<input type="text" class="form-control" id="title" />
									</div>
			                    </div>
			            	</div>
		                  	<div class="row g-3 my-2" style="padding-left: 2%; padding-right: 2%;">
			                  	<div class="col-md-1">
		                  			<label class="form-label" for="period-start-dt">게시(시작일)</label>
		                  		</div>
								<div class="col-md-4">
									<div class="input-group input-group-outline">
			                    		<input type="datetime-local" class="form-control" id="period-start-dt"/>
								    </div>
								</div>
			                  	<div class="col-md-2" align="center">~</div>
			                  	<div class="col-md-1">
		                  			<label class="form-label" for="period-end-dt">게시(종료일)</label>
		                  		</div>
								<div class="col-md-4">
									<div class="input-group input-group-outline">
			                    		<input type="datetime-local" class="form-control" id="period-end-dt"/>
								    </div>
								</div>
		                  	</div>
							<div class="row g-2 my-2" style="padding-left: 2%; padding-right: 2%;">
								<div class="col-md-1">
									<label class="form-label" for="notice-yn">공지글 여부</label>
								</div>
								<div class="col-md-3 form-check">
		                    		<input class="form-check-input" type="checkbox" id="notice-yn" name="notice-yn"/>
								</div>
								<div class="col-md-1">
									<label class="form-label" for="secret-yn">비밀글 여부</label>
								</div>	
								<div class="col-md-3 form-check">
		                    		<input class="form-check-input" type="checkbox" id="secret-yn" name="secret-yn"/>
								</div>
								<div class="col-md-1">
		                    		<label class="form-label" for="use-yn">사용 여부</label>
								</div>		
								<div class="col-md-3 form-check">
		                    		<input class="form-check-input" type="checkbox" id="use-yn" name="use-yn">
		                    	</div>			
		                  	</div>      
		                  	<div class="row g-2 my-2" style="padding-left: 2%; padding-right: 2%;">
								<div class="col-md-1">
									<label class="form-label" for="content">내용</label>
								</div>
								<div class="col-md">
									<div class="input-group input-group-outline" id="content"></div>
		                    	</div>		
		                  	</div>             
			            	<div class="row g-3 my-2" style="padding-left: 2%; padding-right: 2%;">
				            	<div class="col-md-1">
			                  		<label class="form-label" for="remark">파일첨부</label>
			                  	</div>
								<div class="col-md-11">
									<div class="input-group input-group-outline">
										<input type="file" class="form-control" id="file" multiple/>
									</div>
								</div>
			            	</div>
			            	<div class="row g-3 my-2" style="padding-left: 2%; padding-right: 2%;">
			            		<div class="col-md-1"></div>
			            		<div class="col-md-11">
			            			<label style="cursor: pointer;" onclick="removeFile();">파일명 후후&emsp;<i class="fa fa-trash text-danger"></i></label>
			            		</div>
			            	</div>
			            	<div class="row g-3 my-2" style="padding-left: 2%; padding-right: 2%;">
				            	<div class="col-md-10"></div>
								<div class="col-md-2" align="right">
									<button class="btn btn-success" onclick="handlePost();"><i class="fa fa-pencil"></i>&nbsp;SAVE</button>
									<button class="btn btn-danger" id="delete-post" onclick="deletePost(null);" style="display: none;"><i class="fa fa-trash"></i>&nbsp;DELETE</button>
								</div>
			            	</div>			            		            	               	 	                 	                  	                  	
						</div>
					</div>
				</div>
			</div>
		</div> 
		<!-- footer -->
		<div class="container-fluid py-4">
			<footer th:include="./layout/footer"></footer>
		</div>
	</main>
	<script src="/assets/js/func/post.js"></script>
	<script type="text/javascript">
		const postSeq = document.querySelector("#post-seq").value;
		let postTitle = document.querySelector("#post-title");
		document.addEventListener('DOMContentLoaded', () => {
			loadEditor();
			if(postSeq !== "") {
				postTitle.innerHTML = `<h6 class="text-white ps-3" >Edit</h6>`;
				getPost();
			} else {
				postTitle.innerHTML = `<h6 class="text-white ps-3" >Add</h6>`;
			}
		});
	</script>
</body>
</html>